.searchFillter {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.btnImg {
    height: 46px;
    width: 46px;
}

.search {
    height: 46px;
    width: 500px;
    font-size: 20px;
}

.universities {
    align-items: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    margin-top: 10px;
}

.universityButton {
    margin-left: 10px;
    width: 120px;
    height: 50px;
}

.addTeacher {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.addTeacher h2 {
    text-align: center;
}

.addTeacher label {
    display: block;
    margin-top: 10px;
}

.addTeacher input,
.addTeacher select,
.addTeacher textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.addTeacher button {

    color: #fff;
    border: none;
}

/* Add this CSS to your existing styles or create a new CSS file */

.teacher-card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    max-width: 300px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}

.teacher-card:hover {
    transform: scale(1.05);
}

.teacher-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.teacher-info {
    padding: 15px;
}

.techName {
    font-size: 18px;
    font-weight: bold;
}

.techUnivers,
.techFacultet {
    font-size: 14px;
    color: #666;
}